<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title class="e">ECODEV ASSOCIATES</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="../static/assets/img/trainers/EcoDev Logo.jpeg" rel="icon">
  <link href="../static/assets/img/trainers/EcoDev Logo.jpeg" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="../static/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="../static/assets/vendor/icofont/icofont.min.css" rel="stylesheet">
  <link href="../static/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="../static/assets/vendor/remixicon/remixicon.css" rel="stylesheet">
  <link href="../static/assets/vendor/owl.carousel/assets/owl.carousel.min.css" rel="stylesheet">
  <link href="../static/assets/vendor/animate.css/animate.min.css" rel="stylesheet">
  <link href="../static/assets/vendor/aos/aos.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="../static/assets/css/style.css" rel="stylesheet">


  <!-- =======================================================
  * Template Name: Mentor - v2.2.1
  * Template URL: https://bootstrapmade.com/mentor-free-education-bootstrap-theme/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
    <style>
    .e{
        color: #1c7430;
    }
</style>
</head>
<body>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top">
    <div class="container d-flex align-items-center">
     <a href="index.html" class="logo mr-auto"><img src="../static/assets/img/trainers/EcoDev Logo.png" alt="" height="100px" width="100px" class="img-fluid"></a>
      <h1 class="logo mr-auto"><a href="index.html">ECODEV ASSOCIATES</a></h1>
      <!-- Uncomment below if you prefer to use an image logo -->


      <nav class="nav-menu d-none d-lg-block">
        <ul>
          <li class="active"><a href="index.html">Home</a></li>
          <li><a href="about.html">About</a></li>
          <li><a href="services.html">Services</a></li>
          <li><a href="staff.html">Staff</a></li>

          <li><a href="contact.html">Contact</a></li>

        </ul>
      </nav><!-- .nav-menu -->

      <a href="about.html" class="get-started-btn">Get Started</a>

    </div>
  </header><!-- End Header -->

  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex justify-content-center align-items-center">
    <div class="container position-relative" data-aos="zoom-in" data-aos-delay="100">
      <h1>EcoDev Associates Limited<br></h1>
      <h2>Harnessing Economy-Environment-Society for Sustainable Development…Transforming Livelihoods and Landscapes

</h2>
      <a href="about.html" class="btn-get-started">Get Started</a>
    </div>
  </section><!-- End Hero -->

  <main id="main">

    <!-- ======= About Section ======= -->
    <section id="about" class="about">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>About</h2>
          <p>About Us</p>
        </div>

        <div class="row">
          <div class="col-lg-6 order-1 order-lg-2" data-aos="fade-left" data-aos-delay="100">
            <img src="../static/assets/img/about.jpg" class="img-fluid" alt="">
          </div>
          <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 content">
            <h3></h3>
            <p class="font-italic">
              EcoDev Associates Limited is an Environment and Development Consultancy Firm that provides specialized advisory services on ‘corporate environment & natural resources management and sustainable development’ by combining the concern for conservation of natural ecosystems with social and economic challenges.  We employ a multi-and interdisciplinary research approach in an effort to transform livelihoods and landscapes of our clients.

            </p>

            <a href="about.html" class="learn-more-btn">Learn More</a>
          </div>
        </div>

      </div>
    </section><!-- End About Section -->

    <!-- ======= Counts Section ======= -->


    <!-- ======= Popular Courses Section ======= -->
    
    <!-- ======= Trainers Section ======= -->
    <section id="trainers" class="trainers">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Staff</h2>
          <p>Our Professional Staff </p>
        </div>

        <div class="row" data-aos="zoom-in" data-aos-delay="100">
          <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
            <div class="member">
              <img src="../static/assets/img/trainers/trainer-1.jpg" class="img-fluid" alt="">
              <div class="member-content">
                <h4>Dr. Matheaus K. Kauti</h4>
                <span>DIRECTOR AND LEAD ENVIRONMENTAL CONSULTANT </span>
                <p>
                  Dr. Matheaus K. Kauti has a PhD in Environmental Studies from Tohoku University, Japan (2009). His area of specialization and research interests include spatio-temporal human-environment relationships, socio-ecological resilience, livelihood-environment security, and application of Geographic Information Systems (GIS) and Remote Sensing (RS) in Natural Resource Management. He is registered by Environmental Institute of Kenya and the National Environment Management Authority (NEMA) as a Lead Environmental and Social Impact Assessment Expert and has been involved in the implementation of various Environmental and Social Impact Assessment (ESIA), Environmental Audit (EA) amongst other research projects and consultancy studies and training in Natural Resource Management.

                </p>
                <div class="social">
                  <a href=""><i class="icofont-twitter"></i></a>
                  <a href=""><i class="icofont-facebook"></i></a>
                  <a href=""><i class="icofont-instagram"></i></a>
                  <a href=""><i class="icofont-linkedin"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
            <div class="member">
              <img src="../static/assets/img/trainers/trainer-2.jpg" class="img-fluid" alt="">
              <div class="member-content">
                <h4>Mr. Stephen Kituku,</h4>
                <span> DIRECTOR RESOURSE MOBILIZATION</span>
                <p>
                   Mr. Stephen Kituku is a graduate of Business, Entrepreneurship and economics (undergraduate and Masters Levels from Kenyatta University and Illinois University respectively). He has intensive training on social development and humanitarian work with a professional experience spanning more than 25 years in the field of Programme/Project design, implementation and coordination. He has been involved in a number of Livelihoods, Environmental/Natural Resource Management, Climate Change and Food/Water Security in the country.

                </p>
                <div class="social">
                  <a href=""><i class="icofont-twitter"></i></a>
                  <a href=""><i class="icofont-facebook"></i></a>
                  <a href=""><i class="icofont-instagram"></i></a>
                  <a href=""><i class="icofont-linkedin"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
            <div class="member">
              <img src="../static/assets/img/trainers/trainer-3.jpg" class="img-fluid" alt="">
              <div class="member-content">
                <h4>Dr. Patrick Kisangau </h4>
                <span>DIRECTOR RESEARCH, INNOVATION AND TECHNOLOGY</span>
                <p>
                  Dr. Patrick Kisangau, has a PhD in Economic Botany from University of Dar el Salam, Tanzania and specializes in Ethno-botany, plant taxonomy and vegetation surveys/ analysis. He is registered by Environmental Institute of Kenya and the National Environment Management Authority (NEMA) as a Lead Environmental and Social Impact Assessment Expert and has been involved in the implementation of various Environmental and Social Impact Assessment (ESIA), Environmental Audit (EA)

                </p>
                <div class="social">
                  <a href=""><i class="icofont-twitter"></i></a>
                  <a href=""><i class="icofont-facebook"></i></a>
                  <a href=""><i class="icofont-instagram"></i></a>
                  <a href=""><i class="icofont-linkedin"></i></a>
                </div>
              </div>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Trainers Section -->
 <!-- ======= Trainers Section ======= -->
    <section id="trainers" class="trainers">
      <div class="container" data-aos="fade-up">



        <div class="row" data-aos="zoom-in" data-aos-delay="100">
          <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
            <div class="member">
              <img src="../static/assets/img/trainers/trainer-1.jpg" class="img-fluid" alt="">
              <div class="member-content">
                <h4>Mr Boniface Mavindu,</h4>
                <span> MONITORING AND EVALUATION MANAGER</span>
                <p>
                  Mr Boniface Mavindu is a BSc. Agricultural Economics and Resource Management graduate from Moi University. He has a wide knowledge and expertise in coding surveys into electronic data collection system and analysis using different software’s (EXCEL, SPSS and STATA). He has been engaged in a number of projects as a Monitoring and Evaluation supervisor where he acquired invaluable skills on donor reporting, design and document evaluation process as well as setting evaluation schedules, coordinating the strategic planning process, facilitating identification of staff training  needs  with management team and delivering trainings to staff through exchanges, field trips, in house groups and out sourced trainings as well as training farmer groups on Conservation Agriculture, Good Agronomic Practices(GAPs), Crop protection and other practice on good crop production.

                </p>
                <div class="social">
                  <a href=""><i class="icofont-twitter"></i></a>
                  <a href=""><i class="icofont-facebook"></i></a>
                  <a href=""><i class="icofont-instagram"></i></a>
                  <a href=""><i class="icofont-linkedin"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
            <div class="member">
              <img src="../static/assets/img/trainers/trainer-2.jpg" class="img-fluid" alt="">
              <div class="member-content">
                <h4>Ms. Mercy Cheruto, </h4>
                <span>GIS/REMOTE SENSING ANALYST, ASSOCIATE EIA/AUDIT EXPERT</span>
                <p>
                  Ms. Cheruto Mercy Kebenei has a BSc. Environment and Natural Resources Conservation and MSc. in Environmental Management from South Eastern Kenya University. Her research interests are on environmental conservation and application of Geographic Information Systems (GIS) and Remote Sensing (RS) in assessment of land cover changes. She has a wide consultancy experience on environmental resource management, mapping, GPS data collection & management.

                </p>
                <div class="social">
                  <a href=""><i class="icofont-twitter"></i></a>
                  <a href=""><i class="icofont-facebook"></i></a>
                  <a href=""><i class="icofont-instagram"></i></a>
                  <a href=""><i class="icofont-linkedin"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
            <div class="member">
              <img src="../static/assets/img/trainers/trainer-3.jpg" class="img-fluid" alt="">
              <div class="member-content">
                <h4>Mr. Raphael Kieti,</h4>
                <span> PROJECT MANAGEMENT OFFICER</span>
                <p>
                  Mr. Raphael Kieti has a Bachelor of Arts (Anthropology) from University of Nairobi and MSc. Environmental Management from South Eastern Kenya University. His research interest is on socio-economic and rural livelihoods. He has worked with various Non Governmental Organizations as a Community Development Officer. Project management forms a key component of his consultancy experience. He has specific skills in management of stakeholder relationships, community mobilization and training as well as overall project implementation including work plan, scope, budget, and scheduling.

                </p>
                <div class="social">
                  <a href=""><i class="icofont-twitter"></i></a>
                  <a href=""><i class="icofont-facebook"></i></a>
                  <a href=""><i class="icofont-instagram"></i></a>
                  <a href=""><i class="icofont-linkedin"></i></a>
                </div>
              </div>
            </div>
          </div>

             <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
            <div class="member">
              <img src="../static/assets/img/trainers/trainer-3.jpg" class="img-fluid" alt="">
              <div class="member-content">
                <h4>Mr. Kelvin Mutwiwa </h4>
                <span> PUBLIC RELATIONS AND COMMUNICATION OFFICER </span>
                <p>
                  Mr. Kelvin Mutwiwa has a Diploma in Public Relations from the University of Nairobi and is currently pursuing a Bachelor of Arts degree in Journalism and Media Studies - Development Communication option from the University of Nairobi, School of Journalism. He has a passion for and is actively involved in Public Relations within the area of development communication
                </p>
                <div class="social">
                  <a href=""><i class="icofont-twitter"></i></a>
                  <a href=""><i class="icofont-facebook"></i></a>
                  <a href=""><i class="icofont-instagram"></i></a>
                  <a href=""><i class="icofont-linkedin"></i></a>
                </div>
              </div>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Trainers Section -->
  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer">

    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-3 col-md-6 footer-contact">
            <h3>EcoDev Associates Limited</h3>
            <p>
              P. O. BOX 5653 – 00100 <br>
              NAIROBI, <br>
                KENYA <br><br>
              <strong>Phone:</strong> 0722-606398<br>
              <strong>Email:</strong> ecodevassociates@gmail.com <br>
            </p>
          </div>

        </div>
      </div>
    </div>

    <div class="container d-md-flex py-4">

      <div class="mr-md-auto text-center text-md-left">
        <div class="copyright">
          &copy; Copyright <strong><span>Mentor</span></strong>. All Rights Reserved
        </div>
        <div class="credits">
          <!-- All the links in the footer should remain intact. -->
          <!-- You can delete the links only if you purchased the pro version. -->
          <!-- Licensing information: https://bootstrapmade.com/license/ -->
          <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/mentor-free-education-bootstrap-theme/ -->
          Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
        </div>
      </div>
      <div class="social-links text-center text-md-right pt-3 pt-md-0">
        <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
        <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
        <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
        <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
        <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
      </div>
    </div>
  </footer><!-- End Footer -->

  <a href="#" class="back-to-top"><i class="bx bx-up-arrow-alt"></i></a>
  <div id="preloader"></div>

  <!-- Vendor JS Files -->
  <script src="../static/assets/vendor/jquery/jquery.min.js"></script>
  <script src="../static/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="../static/assets/vendor/jquery.easing/jquery.easing.min.js"></script>
  <script src="../static/assets/vendor/php-email-form/validate.js"></script>
  <script src="../static/assets/vendor/waypoints/jquery.waypoints.min.js"></script>
  <script src="../static/assets/vendor/counterup/counterup.min.js"></script>
  <script src="../static/assets/vendor/owl.carousel/owl.carousel.min.js"></script>
  <script src="../static/assets/vendor/aos/aos.js"></script>

  <!-- Template Main JS File -->
  <script src="../static/assets/js/main.js"></script>

</body>

</html>